service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
        return request.auth.uid != null;
    }
    function isAdmin() {
        return isAuth() && get(/databases/$(database)/documents/users/users/refs/$(request.auth.uid)).data.admin;
    }
    match /campaigns/{campaing} {
        allow read;
        allow write: if isAdmin();
        match /questions/{question} {
            allow read;
            allow write: if isAdmin();
            match /responses/{response} {
                allow read, write;
            }
        }
    }
    match /clients/{client=**} {
        allow read;
        allow write: if isAuth();
    }
    match /users/{user} {
        allow read, write: if false;
        match /refs/{user=**} {
            allow read;
            allow write: if false;
        }
    }
  }
}
